<main class="container">
  <h1 id="title">your burgers. your way.</h1>

  <div class="row text-center">
    <div class="col">
      <h2 class="devoured">Add a Burger</h2>
      <form class="create-form">

        <div class="form-group list">
          <label for="bu">Burger Name:</label>
          <input type="text" id="bu" name="name">
        </div>

        <button type="submit">Add Burger</button>
      </form>
    </div>
  </div>

  <div class="row justify-content-md-center mt-5">
    <div class="col-md-5">
      <h2 class="devoured text-center">Your MasterPiece</h2>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-4">
      <h2 class="devoured text-center">Devoured burgers!</h2>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</main>