<li>
	{{burger_name}}
	
	{{#if devoured}}
	<button class="devour-it" data-id="{{id}}" data-devoured="{{devoured}}">Devour It!</button>
	{{/if}}


	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>